body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2f3136;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #40444b;
  color: #fff;
}

.form-button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #fff;
  cursor: pointer;
}

.form-error {
  color: #f04747;
}

#loadingIndicator {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-container {
  display: flex;
  height: 100%;
}

.users-container {
  background-color: #36393f;
  padding: 20px;
  width: 200px;
}

.users-container ul {
  list-style: none;
  padding: 0;
}

.users-container ul li {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  width: calc(100% - 5px);
}

.users-container ul li:hover {
  background-color: #4e5d94;
}

.messages-container {
  flex-grow: 1;
  padding: 20px;
  position: relative; /* Add this */
}

.message-container {
  border-bottom: 1px solid #4e5d94;
  position: absolute; /* Add this */
  top: 10%;
  bottom: 70px; /* Add this. Adjust as needed based on the height of your input container. */
  width: 90%; /* Add this */
  overflow-y: auto; /* Add this */
}

.message-input-container {
  display: flex;
  position: absolute; /* Add this */
  bottom: 20px; /* Add this */
  width: 90%; /* Adjust this */
}

.message-input-container input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #40444b;
  color: #fff;
}

.send-button {
  /* flex-grow: 1; */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #43b581;
  color: #fff;
  cursor: pointer;
}

.logout-button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f04747;
  color: #fff;
  cursor: pointer;
  margin-left: 45px;
}

.users-header {
   transition: left 0.3s ease-in-out;
   left: 25px;
   position: absolute;
}

.user-list {
   transition: left 0.3s ease-in-out;
   left: 25px;
   position: absolute;
   top: 100px
}

/* User list classes */
.user-list li {
  background-color: #44474d;
}

.user-list li:hover {
  background-color: #555a60;
}

.user-list li.selected {
  background-color: #7289da;
}

/* Message styles */
.message-container .message {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.message-container .message.sent {
  background-color: #5865f2;
  color: #fff;
  text-align: right;
}

.message-container .message.received {
  background-color: #3da542;
  color: #fff;
}

.message-container .message.error {
  background-color: #f04747;
  color: #fff;
}

/* Hide login form after successful login */
#loginForm.hidden {
  display: none;
}

#chat.hidden {
  display: none;
}

.hidden {
  display: none !important;
}

#chat {
  display: flex;
}

/* Style form controls */
#formControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formControls label {
  margin-bottom: 10px;
}

#formButton {
  margin-bottom: 10px;
}

.form-error {
  color: red;
}

.register-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.register-container label {
  margin-left: 10px;
  color: #ccc;
  cursor: pointer;
}

.register-container input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background-color: #444;
  border: 2px solid #555;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
  position: relative;
}

.register-container input[type='checkbox']:checked {
  background-color: #6a1b9a;
  border: 2px solid #8e24aa;
}

.register-container input[type='checkbox']:checked:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  height: 10px;
  width: 5px;
}

/* Indicator */
#indicatorContainer {
  text-align: center;
  margin-top: 10px;
}

.arrow-button {
    position: absolute;
    top: 50%;
    left: calc(100% - 20px);
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

.arrow-button.hide {
    transform: translateY(-50%) rotate(180deg);
}

.users-container {
    width: 200px;
    max-width: 200px;
    transition: width 0.3s ease-in-out, flex-grow 0.3s ease-in-out;
    position: relative;
    flex-grow: 1;
}

.hidden-users {
  width: 0;
  flex-grow: 0;
}

.hidden-users .users-header {
  left: -250px;
}

.hidden-users .user-list {
  left: -250px;
}

#usersHeaderText {
    display: inline-block;
}

/* Media Query for smaller screens (Mobile Phones) */
@media screen and (max-width: 768px) {
    .logout-button {
       margin-top: 0;
       margin-left: 0;
    }

    .users-container ul li {
        font-size: 14px; /* Increase the font size */
        padding: 10px;
    }
    
#usersHeaderText {
    display: block;
}

    .user-list {
        top: 120px; /* Adjust the top position */
    }
}